.home-riders{

    background-image: url('https://media4.manhattan-institute.org/sites/cj/files/charter-cities.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}